@import '../../../styles/utilities';


.profile-image-container{
    max-width: 150px;
    max-height: 150px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px auto;
}
.profile-image{
    width: 100%;
}
