@import '../../styles/utilities';

.profile{
    position: relative;
    margin-bottom: 45px;
    background-color: transparent;
    //TODO get rid of these tweaks for fullscreen
    margin-right: 0px;
    padding-right: 0;
    .profile-details, .profile-desc{
        padding-right: 0;
        z-index: 1;
    }
    .profile-image-container{
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin: 15px auto;
    }
    .profile-image{
        width: 100%;
    }
    .profile-name{
        text-align: center;
        margin-bottom: 15px;
    }

    .profile-footer{
        background-color: $brand-subheader-bg;
        position: fixed;
        padding: 0;
        left: 0;
        bottom: 0;
        z-index: 5;
        &.edit{
            .btn{
                width: 50%;
            }
        }
    }


    @include media-breakpoint-up(md) {
        .profile-details, .profile-desc{
            height: calc(100vh - #{$brand-app-header-height} - 45px);
        }
        .profile-desc{
            border-right: 1px solid $brand-subheader-border;
        }

    }
}