.fadeIn-leave {
    opacity: 0;
}

.fadeIn-leave.fadeIn-leave-active {
    opacity: 0;
    transition: opacity $brand-app-transition-time ease-in-out;
}

.fadeIn-enter {
    opacity: 0;
}

.fadeIn-enter.fadeIn-enter-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: opacity $brand-app-transition-time ease-in-out;
}

@include media-breakpoint-up(md) {

    .pageSwap-leave {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }

    .pageSwap-leave.pageSwap-leave-active {
        opacity: 0;
        transition: opacity $brand-app-transition-time ease-in-out;
    }

    .pageSwap-enter {
        opacity: 0;
    }

    .pageSwap-enter.pageSwap-enter-active {
        opacity: 1;
        transition: opacity $brand-app-transition-time ease-in-out;
    }

    .reversePageSwap-leave {
        opacity: 1;
    }

    .reversePageSwap-leave.reversePageSwap-leave-active {
        opacity: 0;
        transition: opacity $brand-app-transition-time ease-in-out;
    }

    .reversePageSwap-enter {
        opacity: 0;
    }

    .reversePageSwap-enter.reversePageSwap-enter-active {
        opacity: 1;
        transition: opacity $brand-app-transition-time ease-in-out;
    }

}

@include media-breakpoint-down(sm) {

    .pageSwap-leave {
        transform: translate3d(0, 0, 0);
    }

    .pageSwap-leave.pageSwap-leave-active {
        transform: translate3d(-100%, 0, 0);
        transition: transform $brand-app-transition-time ease-in-out;
    }

    .pageSwap-enter {
        transform: translate3d(100%, 0, 0);
    }

    .pageSwap-enter.pageSwap-enter-active {
        transform: translate3d(0, 0, 0);
        transition: transform, $brand-app-transition-time ease-in-out;
    }

    .reversePageSwap-leave {
        transform: translate3d(0, 0, 0);
    }

    .reversePageSwap-leave.reversePageSwap-leave-active {
        transform: translate3d(100%, 0, 0);
        transition: transform, $brand-app-transition-time ease-in-out;
    }

    .reversePageSwap-enter {
        transform: translate3d(-100%, 0, 0);
    }

    .reversePageSwap-enter.reversePageSwap-enter-active {
        transform: translate3d(0, 0, 0);
        transition: transform, $brand-app-transition-time ease-in-out;
    }

}