@import '../../../../styles/utilities';

.app-header {
    display: flex;
    margin: 0;
    padding: 0;
    height: $brand-app-header-height;
    background-color: $brand-appheader-bg;
    color: $brand-appheader-text;
    border-bottom: 1px solid $brand-appheader-border;
    overflow: hidden;

    .app-header-logo {
        max-width: 33%;
        height: $brand-app-header-height;
        margin-left: 10px;
    }

    .app-header-nav {
        padding: 0;
        color: $brand-appheader-text;
    }
    .app-header-nav-controls {
        width: 50px;
        text-align: left;
    }
    .app-header-nav-title {
        flex: 2;
        text-align: left;
        color: $brand-appheader-text;
        h1{
            font-size: 1.2rem;
            margin-top: 18px;
        }
    }
    .app-header-nav-menu {
        width: 60px;
        text-align: right;
    }

    .app-header-title {
        position: relative;
        top: 20px;
    }

    .app-header-btn {
        height: 3.3rem;
        width: 3.3rem;
        border-radius: 3rem;
        margin-top: .2rem;
        margin-right: .5rem;
        outline: none;
        background-color: transparent;
        border: none;
        color: $brand-primary;
    }
    .app-header-btn-alarm {
        background-color: $brand-tertiary-bg;
        color: $brand-tertiary-text;
        border-radius: 3rem;
    }
    .app-header-btn-back, .app-header-btn-home {

    }
    .app-header-btn-back{
        display: none;
    }
    .profile-image-container{
        width: 3.3em;
        height: 3.3em;
        display: inline-block;
    }

    @include media-breakpoint-down(sm) {
        .app-header-btn-back{
            display: inherit;
        }
        .app-header-btn-home.back-enabled {
            display: none;
        }
    }

    @include media-breakpoint-down(xs) {
        .app-header-nav-title h1 {
            font-size: 1rem;
            margin-top: 22px;
        }
    }
}

.app-header-spacer {
    padding-top: $brand-app-header-height;
}
